*{
    margin: 0;
    padding: 0;
    font-family: century Gothic;
}
header{
    background-image: url(../drone-gif-5.gif);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 23px; ;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: red;
    text-size-adjust: auto;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: red;
    color: black;
}
ul li.active a{
    color: black;
    text-align: center;
}
.logo img{
    float: center;
    width: 250px;
    height: auto;
}
.main{
    max-width: 1200px;
    margin: auto;
}
.title {
    position: absolute;
    top: 22%;
    left: 49%;
    transform: translate(-50%,-50%);
}
.button{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid black;
    padding: 20px 30px;
    color: red;
    text-decoration: none;
    transition: 00.6s ease;
}
.btn:hover{
    background-color: black;
    color: red;
}
.map img{
    position: absolute;
    top: 27%;
    left: 42%;
    width: 170px
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 10%;
    text-align: right;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  .accordion:hover {
    background-color: #ccc;
  }
  
.panel {
    padding: 0 px;
    background-color: white;
    display: none;
    overflow: hidden;
  }